app/main/config/facebook/fbchat/.env
app/main/config/google/API/credentials.json
app/main/config/google/API/token.pickle
app/test/cron/test.txt
# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

lib/
../__pycache__/
__pycache__/
